body{
  text-align: center;
  background-color: black ;
  color: whitesmoke;

}
.App{
  display: flex;
  flex-direction: column;
}

.charImg {
  max-height: 140px;
  max-width: auto;
}

.residentCard{
  display:flex;
  flex-direction: row;
  border:2px solid silver;
  text-align: left;
  padding: 1%;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: left;
  width: 40vw;
  height: 20%;
  margin-bottom: 10px;

}
.residentsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.locationInfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  
}

.header{
position: sticky;
top:0;
background-color: black;
background-image: url("./img/rickandmorty2.png");
background-repeat: no-repeat;
background-position: right;
background-size: contain;
padding:1%;
}

@media screen and (max-width:600px) {
  .residentCard{
    flex-direction: column;
    justify-content: center;
  }
  .locationInfo{
    background-color: black;
  }
}

b{
  margin: 10px;
}

button{
  background-color: black;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}